body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 420px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

h1 {
    text-align: center;
    font-weight: 700;
}

.blue {
    color: #2db6ed;
}

label {
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-top: 100px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #F6F6F6;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 14px;
}

h3 {
    margin-top: 25px;
    font-size: 36px;
}

.integrante-bloco {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.campo {
    width: 55%;
}

.foto-upload {
    width: 120px;
    height: 120px;
    background: #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    cursor: pointer;
    border-radius: 3px;
}

.add {
    display: block;
    font-size: 12px;
    color: red;
    margin-top: 8px;
    cursor: pointer;
}

.galeria {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.galeria-item {
    width: 90px;
    height: 90px;
    background: #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.grande {
    width: 160px;
    height: 200px;
}

.galeria-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    width: 100%;
    background: #2db6ed;
    color: white;
    padding: 12px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}
